<template>
  <q-dialog
    v-model="confirmation"
    persistent
    transition-show="jump-up"
    transition-hide="jump-down"
  >
    <q-card
      class="text-white"
      style="width: 700px; max-width: 80vw;"
    >
      <q-carousel
        transition-prev="slide-right"
        transition-next="slide-left"
        animated
        keep-alive
        ref="carousel"
        v-model="slide"
        style="padding-bottom: 50px;"
        class="bg-white text-dark shadow-1 rounded-borders full-height"
      >
        <q-carousel-slide
          :name="1"
          class="column no-wrap"
        >
          <div class="text-h4 q-pb-sm text-bold">Sports</div>

          <div class="text-h6 text-center text-bold full-width q-mt-lg q-mb-sm">Select the sports that you like to practice with...</div>

          <q-select
            v-model="sports"
            use-input
            use-chips
            class="full-width"
            multiple
            input-debounce="0"
            :options="sportList"
            @filter="filterFn"
          >
            <template v-slot:option="scope">
              <q-item
                v-bind="scope.itemProps"
                v-on="scope.itemEvents"
              >
                <q-item-section avatar>
                  <q-icon :name="scope.opt.icon" />
                </q-item-section>
                <q-item-section>
                  <q-item-label v-html="scope.opt.label" />
                </q-item-section>
              </q-item>
            </template>
          </q-select>
          <div class="row q-mt-md q-col-gutter-y-sm">
            <div
              v-for="sport in sports"
              :key="sport.name"
              class="col-3"
            >
              <q-item-section
                avatar
                class="inline-block text-right q-pr-sm"
              >
                <q-icon :name="sport.icon" />
              </q-item-section>
              <q-item-section class="inline-block">
                <q-item-label v-html="sport.label" />
              </q-item-section>
            </div>
          </div>
        </q-carousel-slide>

        <q-carousel-slide
          :name="2"
          class="column no-wrap"
        >
          <div class="text-h4 q-pb-sm text-bold q-mb-xl">Profile</div>
          <div class="row q-col-gutter-x-md flex-center q-mb-sm full-height">
            <div class="col">
              <q-uploader
                label="Profile picture"
                auto-upload
                ref="quploader"
                max-files="1"
                accept=".jpg, image/*"
              />
            </div>

            <q-input
              v-model="description"
              autogrow
              clearable
              class="col"
              type="textarea"
              color="blue-6"
              label="Description"
            />
          </div>
        </q-carousel-slide>

        <q-carousel-slide
          :name="3"
          class="column no-wrap flex-center"
        >
          <div class="text-h4 q-pb-sm q-mb-xl text-bold">Links</div>
          <div class="row q-col-gutter-md full-width q-pb-md">
            <q-input
              class="col-6"
              v-model="socials.twitter"
              prefix="https://twitter.com/"
              label="Twitter"
            >
              <template v-slot:before>
                <q-icon name="fab fa-twitter" />
              </template>
            </q-input>
            <q-input
              class="col-6"
              v-model="socials.instagram"
              prefix="https://www.instagram.com/"
              label="Instagram"
            >
              <template v-slot:before>
                <q-icon name="fab fa-instagram" />
              </template>
            </q-input>
            <q-input
              class="col-6"
              v-model="socials.youtube"
              prefix="https://www.youtube.com/c/"
              label="Youtube"
            >
              <template v-slot:before>
                <q-icon name="fab fa-youtube" />
              </template>
            </q-input>
            <q-input
              class="col-6"
              v-model="socials.facebook"
              prefix="https://www.facebook.com/"
              label="Facebook"
            >
              <template v-slot:before>
                <q-icon name="fab fa-facebook" />
              </template>
            </q-input>
          </div>
        </q-carousel-slide>

        <template v-slot:control>
          <q-carousel-control
            position="bottom-right"
            :offset="[18, 18]"
            class="row full-width justify-between q-px-lg"
          >
            <q-btn
              flat
              class="bg-blue-6 col-2 text-bold"
              :disable="slide < 2"
              text-color="white"
              label="Previous"
              @click="$refs.carousel.previous()"
            />
            <q-btn
              flat
              class="bg-blue-6 col-2 text-bold"
              text-color="white"
              label="Next"
              v-if="slide < 3"
              @click="$refs.carousel.next()"
            />
            <q-btn
              flat
              class="bg-green-13 col-2 text-bold"
              text-color="white"
              label="Complete"
              v-else
              @click="completeLogin()"
            />
          </q-carousel-control>
        </template>
      </q-carousel>
    </q-card>
  </q-dialog>
</template>

<style scooped>
a {
  text-decoration: none;
}
</style>

<script>
import sportsJson from '../../assets/json/sports.json'
import { mapActions } from "vuex"

export default {
  name: 'FirstLogin',
  data () {
    return {
      confirmation: true,
      sportList: sportsJson,
      sports: null,
      description: '',
      file: null,
      socials: {
        twitter: null,
        instagram: null,
        facebook: null,
        youtube: null
      },
      slide: 1
    }
  },

  methods: {
    ...mapActions(["editProfile"]),
    async completeLogin () {
      if (this.$refs.quploader.files) {
        this.file = this.$refs.quploader.files[0]
      }
      const body = {
        sports: this.sports,
        description: this.description,
        file: this.file,
        socials: this.socials,
        JWT: this.$store.getters.StateJWT,
        id: this.$store.getters.StateProfile.id,
        firstLogin: false
      }
      try {
        await this.editProfile(body)
        this.confirmation = false
      } catch (error) {
        if (error.response.data.message[0].messages[0].id === "Auth.form.error.invalid") {
          this.$q.notify({
            type: 'negative',
            message: error.response.data.message[0].messages[0].message,
            position: 'top'
          })
        } else {
          this.$q.notify({
            type: 'warning',
            message: 'Our system couldn\'t find this email, please insert a valid one!.',
            position: 'top'
          })
        }
      }
    },

    filterFn (val, update) {
      update(() => {
        if (val === '') {
          this.sportList = sportsJson
        }
        else {
          const needle = val.toLowerCase()
          this.sportList = sportsJson.filter(
            v => v.label.toLowerCase().indexOf(needle) > -1
          )
        }
      })
    }
  }
}
</script>
