<template>
  <q-page class="flex flex-center">
    <q-banner
      inline-actions
      class="text-white bg-red-7 errorMessage"
      v-if="errorMsg"
    >
      {{errorMsg}}
    </q-banner>
    <q-card class="auth">
      <q-card-section class="bg-blue-6 text-white">
        <div class="text-h3 text-bold q-mb-sm">Sporty Wave</div>
        <div class="text-subtitle1 text-grey-12">Welcome back to our platform!</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#56a8e8"
            fill-opacity="1"
            d="M0,192L48,176C96,160,192,128,288,101.3C384,75,480,53,576,74.7C672,96,768,160,864,160C960,160,1056,96,1152,90.7C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
          ></path>
        </svg>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <q-form @submit="signIn()">
          <q-input
            filled
            v-model="email"
            class="q-mb-md"
            label="E-Mail"
          ></q-input>
          <q-input
            v-model="password"
            filled
            label="Password"
            :type="isPwd ? 'password' : 'text'"
          >
            <template v-slot:append>
              <q-icon
                :name="isPwd ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="isPwd = !isPwd"
              />
            </template>
          </q-input>

          <div class="text-subtitle-1 q-mt-md text-grey">Don't have an account? <router-link
              to="register"
              class="text-blue-6"
            >Sign up</router-link>
          </div>

          <q-btn
            push
            color="blue-6"
            type="submit"
            class="full-width text-h6 text-bold q-mt-md"
            label="Sign in"
          />
        </q-form>
      </q-card-section>
    </q-card>
    <!-- Email confirmation -->

    <SendEmail
      :email="email"
      v-if="displayConfirmation"
      @hide="displayConfirmation = false"
      :autosend="true"
    ></SendEmail>
  </q-page>
</template>

<style scooped>
a {
  text-decoration: none;
}
</style>

<script>
import { mapActions } from "vuex"
import SendEmail from 'components/SendEmail.vue'

export default {
  name: 'login',
  components: {
    SendEmail
  },
  data () {
    return {
      email: '',
      password: '',
      isPwd: true,
      body: {},
      errorMsg: '',
      displayConfirmation: false
    }
  },

  methods: {
    ...mapActions(["LogIn"]),
    async signIn () {
      this.body = {
        identifier: this.email,
        password: this.password
      }
      try {
        await this.LogIn(this.body)
        if (this.$route.query.from) {
          this.$router.push(this.$route.query.from.replace('#', ''));
        } else {
          this.$router.push('/')
        }
      } catch (error) {
        if (error.response.data.data[0].messages[0].id === "Auth.form.error.confirmed") {
          this.$q.notify({
            type: 'info',
            message: 'You have to confirm your email address',
            position: 'top',
            actions: [
              { label: 'Confirm', color: 'white', handler: () => { this.displayConfirmation = true } }
            ]
          })
        } else if (error.response.data.data[0].messages[0]) {
          this.$q.notify({
            type: 'negative',
            message: error.response.data.data[0].messages[0].message,
            position: 'top'
          })
        } else {
          this.$q.notify({
            type: 'warning',
            message: 'Our system couldn\'t find this email, please insert a valid one!.',
            position: 'top'
          })
        }
      }
    }
  }
}
</script>
