<template>
  <q-page class="flex flex-center">
    <q-card class="auth">
      <q-card-section class="bg-blue-6 text-white">
        <div class="text-h3 text-bold q-mb-sm">Sporty Wave</div>
        <div class="text-subtitle1 text-grey-12">Welcome to our platform! Complete the form.</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#56a8e8"
            fill-opacity="1"
            d="M0,192L48,176C96,160,192,128,288,101.3C384,75,480,53,576,74.7C672,96,768,160,864,160C960,160,1056,96,1152,90.7C1248,85,1344,139,1392,165.3L1440,192L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
          ></path>
        </svg>
      </q-card-section>

      <q-separator />

      <q-card-section>
        <q-form @submit="completeRegistration()">
          <q-input
            filled
            v-model="email"
            label="E-Mail *"
            type="email"
            class="q-pb-lg"
            required
          ></q-input>
          <div class="row q-col-gutter-x-md q-col-gutter-y-lg">
            <q-input
              class="col-6 q-pm-none"
              filled
              :rules="[val => /^[^`~!@#$%^&*()_+={}\[\]|\\:;“’<,>.?๐฿]*$/.test(val) || 'Special characters aren\'t accepted']"
              v-model="username"
              label="Username *"
              required
            ></q-input>
            <q-input
              filled
              v-model="date"
              class="col-6 q-pm-none"
              label="Birthday *"
              readonly
              :rules="[ val => val.length === 10 && checkDate(val) || 'You must be at least 13' ]"
              mask="##/##/####"
            >
              <template v-slot:append>
                <q-icon
                  name="event"
                  class="cursor-pointer"
                >
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date
                      v-model="date"
                      default-view="Years"
                      :options="optionsDate"
                      mask="DD/MM/YYYY"
                      :default-year-month="new Date().getFullYear() - 13 + '/' + ((new Date().getMonth() + 1) < 10 ? '0' + (new Date().getMonth() + 1) : (new Date().getMonth() + 1))"
                    >
                      <div class="row items-center justify-end">
                        <q-btn
                          v-close-popup
                          label="Close"
                          color="primary"
                          flat
                        />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
            <q-input
              filled
              v-model="name"
              label="Name *"
              class="col-6 q-pm-none"
              required
            ></q-input>
            <q-input
              filled
              v-model="surname"
              label="Surame *"
              class="col-6 q-pm-none"
              required
            ></q-input>
            <q-input
              v-model="password"
              filled
              :rules="[val => val.length >= 8 || 'The passwords must be at least 8 characters long']"
              class="col-6 q-mb-md"
              label="Password *"
              :type="isPwd ? 'password' : 'text'"
              required
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>
            <q-input
              v-model="passwordVerification"
              class="col-6"
              label="Repeat password *"
              filled
              :type="isPwdVerification ? 'password' : 'text'"
              :rules="[val => val === password || 'The passwords must be the same']"
              required
            >
              <template v-slot:append>
                <q-icon
                  :name="isPwdVerification ? 'visibility_off' : 'visibility'"
                  class="cursor-pointer"
                  @click="isPwdVerification = !isPwdVerification"
                />
              </template>
            </q-input>
          </div>

          <div class="text-subtitle-1 text-grey">Do you already have an account? <router-link
              to="login"
              class="text-blue-6"
            >Sign in</router-link>
          </div>

          <q-btn
            push
            color="blue-6"
            type="submit"
            class="full-width text-h6 text-bold q-mt-md"
            label="Sign up"
          />
        </q-form>
      </q-card-section>
    </q-card>

    <!-- Email confirmation -->

    <SendEmail
      :email="email"
      v-if="displayConfirmation"
    ></SendEmail>
  </q-page>
</template>

<style scooped>
a {
  text-decoration: none;
}

.q-pm-none {
  padding-bottom: 0;
}
.q-field--filled.q-field--readonly .q-field__control:before {
  border-bottom-style: none;
}
</style>

<script>
import { mapActions } from "vuex"
import SendEmail from 'components/SendEmail.vue'

export default {
  name: 'Register',
  components: {
    SendEmail
  },
  data () {
    return {
      username: '',
      date: '',
      name: '',
      surname: '',
      email: '',
      password: '',
      passwordVerification: '',
      isPwd: true,
      isPwdVerification: true,
      displayConfirmation: false,
      body: {}
    }
  },

  methods: {
    ...mapActions(["Register"]),
    checkDate (date) {
      let tempDate = new Date()
      let splitted = date.split('/')
      return (splitted[2] + "/" + splitted[1] + "/" + splitted[0]) < (tempDate.getFullYear() - 13 + '/' + ((tempDate.getMonth() + 1) < 10 ? '0' + (tempDate.getMonth() + 1) : (tempDate.getMonth() + 1)) + '/' + tempDate.getDate())
    },
    optionsDate (date) {
      let tempDate = new Date()
      return date < tempDate.getFullYear() - 13 + '/' + ((tempDate.getMonth() + 1) < 10 ? '0' + (tempDate.getMonth() + 1) : (tempDate.getMonth() + 1)) + '/' + tempDate.getDate()
    },
    async completeRegistration () {
      let splitted = this.date.split('/')
      this.date = splitted[1] + "/" + splitted[0] + "/" + splitted[2]
      console.log(this.date)
      this.body = {
        username: this.username.toString(),
        email: this.email.toString(),
        password: this.password.toString(),
        name: this.name.toString(),
        surname: this.surname.toString(),
        date: (new Date(this.date)).toISOString()
      }
      if (this.password != this.passwordVerification) {
        this.$q.notify({
          type: 'negative',
          message: 'The passwords are different!',
          position: 'top'
        })
      } else {
        try {
          const response = await this.Register(this.body);
          if (response.status >= 200 && response.status < 300) {
            this.displayConfirmation = true
          } else if (response.data.data[0].messages[0]) {
            this.$q.notify({
              type: 'negative',
              message: response.data.data[0].messages[0].message,
              position: 'top'
            })
          } else {
            this.$q.notify({
              type: 'warning',
              message: 'Our system couldn\'t find this email, please insert a valid one!.',
              position: 'top'
            })
          }
        } catch (error) {
          this.$q.notify({
            type: 'warning',
            message: 'Our system couldn\'t find this email, please insert a valid one!.',
            position: 'top'
          })
        }
      }
    }
  }
}
</script>
