<template>
  <q-page class="flex flex-center">
    <div class="container row q-col-gutter-x-md">
      <div class="col-3">
        <q-card>
          <q-card-section class="text-center bg-gradient q-py-lg">
            <q-avatar
              size="124px"
              class="q-mb-sm"
            >
              <img :src="'https://cdn.sportywave.it' + (profile.photo ? profile.photo.url : '/uploads/avatar.png')">
            </q-avatar>
            <div class="text-weight-bold text-white">{{profile.name}} {{profile.surname}}</div>
            <span class="text-white">@{{profile.username}}</span>
          </q-card-section>
          <q-card-section class="q-px-none">
            <q-tabs
              v-model="tab"
              vertical
              inline-label
              active-color="blue-6"
            >
              <q-tab
                name="profile"
                icon="far fa-address-card"
                label="Profile"
              />
              <q-tab
                name="activities"
                icon="far fa-calendar-alt"
                label="Recent Activities"
              />
              <q-tab
                name="edit"
                icon="far fa-edit"
                label="Edit Profile"
                v-if="this.$store.getters.isAuthenticated"
              />
            </q-tabs>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-9">
        <q-tab-panels
          v-model="tab"
          animated
          transition-prev="scale"
          transition-next="scale"
          infinite
          keep-alive
          class="shadow-2 rounded-borders"
        >
          <q-tab-panel
            name="profile"
            class="q-pt-xs"
          >
            <q-card class="q-mb-md">
              <div class="text-h4 text-bold q-py-sm q-px-md">Profile</div>
            </q-card>

            <q-card>
              <q-card-section class="row q-col-gutter-xl">
                <div class="col-4 text-center">
                  <div class="text-h6 text-weight-bolder">Name</div>
                  <div class="text-overline">{{profile.name}}</div>
                </div>
                <div class="col-4 text-center">
                  <div class="text-h6 text-weight-bolder">Surname</div>
                  <div class="text-overline">{{profile.surname}}</div>
                </div>
                <div class="col-4 text-center">
                  <div class="text-h6 text-weight-bolder">Birthday</div>
                  <div class="text-overline">{{profile.bday}}</div>
                </div>
                <div class="col-6 text-center">
                  <div class="text-h6 text-weight-bolder">Description</div>
                  <div class="text-overline">{{profile.description}}</div>
                </div>
                <div class="col-6 text-center">
                  <div class="text-h6 text-weight-bolder">Sports</div>
                  <div class="text-subtitle2 row ">
                    <q-item
                      v-for="sport in profile.Sports"
                      :key="sport.label"
                      class="col-auto text-left"
                    >
                      <q-item-section avatar>
                        <q-icon :name="sport.icon" />
                      </q-item-section>
                      <q-item-section>
                        <q-item-label v-html="sport.label" />
                      </q-item-section>
                    </q-item>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-tab-panel>

          <q-tab-panel
            name="activities"
            class="q-pt-xs"
          >
            <q-card class="q-mb-md">
              <div class="text-h4 text-bold q-py-sm q-px-md">Recent Activities</div>
            </q-card>

            <q-card class="no-shadow">
              <q-card-section>
                <div class="row q-col-gutter-sm container">
                  <div
                    class="col-4"
                    v-for="event in profile.ownEvents"
                    :key="event.name"
                  >
                    <Event
                      :event="event"
                      :participation="false"
                      :ownerName="profile.username"
                    ></Event>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </q-tab-panel>

          <q-tab-panel
            name="edit"
            class="q-pt-xs"
            v-if="this.$store.getters.isAuthenticated"
          >
            <q-card class="q-mb-md">
              <div class="text-h4 text-bold q-py-sm q-px-md">Edit your profile</div>
            </q-card>

            <q-card>
              <q-card-section>
                <br><br><br><br><br><br><br><br><br><br> <br>

              </q-card-section>
            </q-card>
          </q-tab-panel>
        </q-tab-panels>
      </div>

    </div>
  </q-page>
</template>

<script>

import Event from 'components/Event.vue'

export default {
  name: 'User',
  components: {
    Event
  },
  data () {
    return {
      profile: {
        username: 'Loading...',
        name: 'Loading...',
        surname: '',
        sports: 'Loading...'
      },
      tab: 'profile'
    }
  },
  mounted () {
    this.$store.dispatch("fetchProfile", this.$route.params.username).then(response => {
      if (response.data) {
        console.log(response)
        this.profile = response.data[0]
      }
    }, error => {
      console.log(error)
      console.error("Got nothing from server. Prompt user to check internet connection and try again")
    })
  }
}
</script>

<style>
body {
  color: #797979;
  background: #f1f2f7;
  font-family: "Open Sans", sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size: 13px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.q-tabs--vertical .q-tab {
  text-align: left !important;
  justify-content: left !important;
  padding-left: 20px;
}

.q-tab__content {
  justify-content: left !important;
}

.text-h4 {
  position: relative;
  color: #111;
  text-align: center;
  background-clip: text !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(
    to right bottom,
    #146aae,
    #7265b6,
    #b05aa8,
    #da5287,
    #ed5d5d
  );
}

.text-h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    #146aae,
    #7265b6,
    #b05aa8,
    #da5287,
    #ed5d5d
  );
}

.text-h6 {
  border-bottom: 1px solid;
  padding: 0 !important;
}

.text-overline {
  font-size: 20px;
  word-break: break-all;
}

.q-tab-panels {
  background: transparent;
  box-shadow: none;
}
</style>