<template>
  <q-page class="flex flex-center">
    <div class="welcome flex flex-center">
      <div v-if="!profile">
        <q-btn
          outline
          to="/auth/login"
          class="q-mr-md q-px-md text-bold"
          color="white"
          label="Sign in"
          size="xl"
        />
        <q-btn
          outline
          to="/auth/register"
          class="q-px-md text-bold"
          color="primary"
          label="Sign Up"
          size="xl"
        />
      </div>
      <div
        class="text-center"
        v-else
      >
        <div class="text-h2 text-white text-weight-bolder">Welcome</div>
        <div class="text-h3 text-primary text-weight-bolder">{{profile.username}}</div>
      </div>
    </div>
    <div class="row q-col-gutter-md container q-pa-xl">
      <div
        class="col-12 col-sm-6 col-md-4"
        v-for="event in events"
        :key="event.name"
      >
        <Event :event="event"></Event>
      </div>
    </div>
  </q-page>
</template>

<style lang="sass">
.welcome
  height: 500px
  width: 100%
  background: url("/img/wallpaper.jpg") center bottom
  background-size: cover
  background-repeat: no-repeat
  position: relative

.welcome::after
  content: ''
  background: #111
  opacity: 0.5
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 0

.welcome > *
  z-index: 10
.text-primary
  color: $primary!important
</style>

<script>
import Event from 'components/Event.vue'

export default {
  name: 'Home',
  components: {
    Event
  },
  data () {
    return {
      events: null,
      profile: this.$store.getters.StateProfile
    }
  },
  mounted: function () {
    // This component just got created. Lets fetch some data here using an action
    this.$store.dispatch("fetchEvents").then(response => {
      this.events = this.$store.getters.StateEvents
    }, error => {
      console.error("Got nothing from server. Prompt user to check internet connection and try again")
    })
  }
}
</script>
