<template>
  <q-card class="full-width">
    <q-img
      :src="'https://cdn.sportywave.it' + (event.cover ? event.cover.url : '/uploads/sport.jpg')"
      class="img_card"
    >
      <div class="col text-h6 ellipsis absolute-top text-center">
        {{event.name}}
      </div>
      <a
        :href="`/#/profile/user/` + (ownerName ? ownerName : event.profile.username)"
        class="absolute-bottom-left text-h7 text-bold"
      >
        @{{(ownerName ? ownerName : event.profile.username)}}
      </a>
    </q-img>
    <q-card-section>
      <q-btn
        fab
        color="blue-6"
        icon="fas fa-directions"
        class="absolute"
        type="a"
        target="_blank"
        :href="'https://maps.google.com/?q=' + event.address"
        style="top: 0; right: 12px; transform: translateY(-50%);"
      />
      <div class="row items-right text-left q-mt-lg">
        <div class="col-12">
          <q-icon name="fas fa-map-marked-alt text-blue-6"></q-icon>
          <span class="q-ml-sm">{{event.address}}</span>
        </div>
        <div
          class="col-12"
          v-if="event.partecipants && event.partecipantList"
        >
          <q-icon name="fas fa-users text-blue-6"></q-icon>
          <span
            class="q-ml-sm"
            v-if="event.partecipants > 0"
          >{{event.partecipantList.length}}/{{event.partecipants}}</span>
          <span
            v-else
            class="q-ml-sm"
          >Infinite</span>
        </div>
        <div class="col-12">
          <q-icon
            :name="event.sport.icon"
            class="text-blue-6"
          ></q-icon>
          <span class="q-ml-sm">{{event.sport.label}}</span>
        </div>
        <div class="col-12">
          <q-icon
            name="far fa-calendar"
            class="text-blue-6"
          ></q-icon>
          <span class="q-ml-sm">{{formatDate(event.date)}}</span>
        </div>
        <div class="col-12">
          <q-icon
            name="fas fa-clock"
            class="text-blue-6"
          ></q-icon>
          <span class="q-ml-sm">{{formatTime(event.date)}}</span>
        </div>
      </div>
    </q-card-section>
    <q-card-section class="q-pt-none">
      <div class="text-subtitle3 text-grey">
        {{event.description}}
      </div>
    </q-card-section>
    <q-separator />
    <q-card-actions
      class="float-right"
      v-if="participation"
    >
      <q-btn
        flat
        v-if="this.$store.getters.StateProfile"
        color="blue-6"
        @click="partecipateUser(event)"
        :disable="event.partecipantList.length >= event.partecipants || event.profile.id === this.$store.getters.StateProfile.id"
      >
        Partecipate
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<style scooped>
.q-card {
  overflow: hidden !important;
}
.q-loading-bar {
  position: absolute;
}
.img_card {
  max-height: 150px;
}
.text-h6 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}
.text-h7 {
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  border-top-right-radius: 10px;
  position: absolute;
  padding: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.47);
}
</style>

<script>
import { mapActions } from "vuex"

export default {
  name: 'SendEmail',
  data () {
    return {
    }
  },
  methods: {
    ...mapActions(["addEventToUser"]),
    partecipateUser (event) {
      this.addEventToUser({ event: event, user: this.$store.getters.StateProfile, JWT: this.$store.getters.StateJWT })
      this.$q.notify({
        type: 'positive',
        message: 'Aggiunto all\'evento con successo',
        position: 'top'
      })
    },
    formatDate (date) {
      let dateT = new Date(date);
      return dateT.getDate() + '/' + (dateT.getMonth() + 1) + '/' + dateT.getFullYear();
    },
    formatTime (date) {
      let dateT = new Date(date);
      return dateT.getHours() + ':' + dateT.getMinutes();
    }
  },
  props: {
    event: {
      type: Object,
      required: true
    },
    participation: {
      type: Boolean,
      required: false,
      default: true
    },
    ownerName: {
      type: String,
      required: false
    }
  }
}
</script>
