<template>
  <q-dialog
    v-model="dialog"
    persistent
  >
    <q-card>
      <q-card-section class="row items-center text-center justify-center">
        <div class="col-12">
          <q-avatar
            icon="far fa-envelope-open"
            text-color="primary"
          />
          <span class="q-ml-sm q-pr-md">Please confirm the email that we sent to:<br>
          </span>
        </div>

        <div class="text-h6">{{email}}</div>
      </q-card-section>

      <q-card-actions align="right">
        <q-btn
          flat
          :label="resendMsg"
          :disabled="resendDisabled"
          color="primary"
          @click="resendEmail()"
        />
        <q-btn
          v-if="autosend"
          flat
          label="Done"
          color="primary"
          @click="close()"
        />
        <q-btn
          v-else
          flat
          label="Done"
          color="primary"
          to="login"
        />
      </q-card-actions>
      <q-ajax-bar
        ref="bar"
        position="bottom"
        color="primary"
        size="3px"
        skip-hijack
      />
    </q-card>
  </q-dialog>
</template>

<style scooped>
.q-card {
  overflow: hidden !important;
}
.q-loading-bar {
  position: absolute;
}
</style>

<script>
import axios from 'axios'

export default {
  name: 'SendEmail',
  data () {
    return {
      dialog: true,
      resendMsg: "Resend Email",
      resendDisabled: false,
    }
  },
  props: {
    email: {
      type: String,
      required: true
    },
    autosend: {
      type: Boolean,
      required: false
    }
  },
  methods: {
    resendEmail () {
      axios.post(this.$apiURI + '/auth/send-email-confirmation', { email: this.email })
        .then((response) => {
          const bar = this.$refs.bar
          bar.start()
          this.resendMsg = 'Sent'
          this.resendDisabled = true
          setTimeout(function () {
            this.resendMsg = "Resend Email"
            this.resendDisabled = false
            if (this.$refs.bar) {
              this.$refs.bar.stop()
            }
          }.bind(this), 5000);
        }, (error) => {
        })
    },
    close () {
      this.$emit('hide');
    }
  },
  mounted () {
    if (this.autosend) {
      this.resendEmail()
    }
  }
}
</script>
