// Authentication pages
.auth {
  max-width: 500px;
  width: 100%;
}

.auth > .bg-blue-6 {
  padding-top: 80px
}

.auth > .bg-blue-6 > div {
  position: relative;
  z-index: 1;
}

.auth > .bg-blue-6  > svg {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.errorMessage {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}


.bg-gradient {
  background-image: linear-gradient(
    to right bottom,
    #146aae,
    #7265b6,
    #b05aa8,
    #da5287,
    #ed5d5d
  );
}