// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #5baaf0;
$secondary : #24a2f0;
$accent    : #2f40f7;

$dark      : #1c1c1c;

$positive  : #36ba55;
$negative  : #ff243d;
$info      : #4b8bfa;
$warning   : #ffbf40;