<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style scoop>
</style>

<script>

export default {
  name: 'Empty',
  data () {
    return {
    }
  }
}
</script>
