<template>
  <q-layout view="lHh Lpr lFf">
    <q-drawer
      v-model="drawer"
      overlay
      :width="300"
      :breakpoint="400"
      dark
    >
      <q-btn
        flat
        @click="drawer = !drawer"
        id="menuToggle"
        class="bg-dark"
        round
        dense
        icon="menu"
      />
      <q-scroll-area style="height: calc(100% - 250px); margin-top: 250px;">
        <q-list>
          <q-item-label header>General</q-item-label>
          <q-item
            v-for="item in navbarItems"
            :key="item.name"
            clickable
            v-ripple
            :to="item.link"
            class="text-white"
            dark
          >
            <q-item-section
              avatar
              style="align-items: center;"
            >
              <q-icon
                :name="item.icon"
                style="font-size: 1.2em;"
              />
            </q-item-section>

            <q-item-section>
              {{item.name}}
            </q-item-section>
          </q-item>
        </q-list>

        <q-list v-if="profile">
          <q-separator spaced />
          <q-item-label header>Personal</q-item-label>
          <q-item
            v-for="item in personalNavbar"
            :key="item.name"
            clickable
            v-ripple
            :to="item.link"
            class="text-white"
            dark
          >
            <q-item-section
              avatar
              style="align-items: center;"
            >
              <q-icon
                :name="item.icon"
                style="font-size: 1.2em;"
              />
            </q-item-section>

            <q-item-section>
              {{item.name}}
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>

      <!-- If the user is logged in -->
      <div
        class="absolute-top bg-gradient"
        style="height: 250px"
        v-if="profile"
      >
        <router-link
          class="absolute-center text-center bg-transparent q-pa-none"
          :to="`/profile/user/` + profile.username"
        >
          <q-avatar
            size="124px"
            class="q-mb-sm"
          >
            <img :src="'https://cdn.sportywave.it' + (profile.photo ? profile.photo.url : '/uploads/avatar.png')">
          </q-avatar>
          <div class="text-weight-bold text-white">{{profile.name}} {{profile.surname}}</div>
          <a class="text-white">@{{profile.username}}</a>
        </router-link>
      </div>

      <!-- else display the sign in -->
      <div
        class="absolute-top"
        style="height: 250px"
        v-else
      >
        <div
          class="absolute-center text-center bg-transparent q-pa-none authenticate"
          style="max-width: 100%"
        >
          <q-btn
            filled
            to="/auth/login"
            class="q-mb-md q-px-md text-blue-6 no-shadow"
            color="white"
            label="Sign In"
            size="lg"
          />
          <q-btn
            outline
            to="/auth/register"
            class="q-mb-md q-px-md"
            color="white"
            label="Sign Up"
            size="lg"
          />
        </div>
      </div>

      <!-- Logout -->
      <q-btn
        flat
        class="absolute-bottom text-center bg-red-6 text-bold q-py-sm no-border-radius full-width"
        @click="logout()"
        v-if="profile"
      >
        <span><i class="fas fa-sign-out-alt"></i> Logout</span>
      </q-btn>
    </q-drawer>

    <q-page-container>
      <first-login v-if="authenticated"></first-login>
      <router-view />
    </q-page-container>
  </q-layout>
</template>


<script>
import FirstLogin from '../pages/auth/FirstLogin.vue'
import { mapActions } from "vuex"

const items = [
  {
    name: 'Home',
    icon: 'fas fa-home',
    link: '/'
  },
  {
    name: 'Events',
    icon: 'far fa-calendar-alt',
    link: '/events'
  }
]

const personalItems = [
  {
    name: 'Participations',
    icon: 'fas fa-qrcode',
    link: '/events/participations'
  }
]

export default {
  name: 'MainLayout',
  components: {
    FirstLogin
  },
  data () {
    return {
      drawer: false,
      navbarItems: items,
      personalNavbar: personalItems,
      profile: this.$store.getters.StateProfile,
      authenticated: (this.$store.getters.StateProfile) ? this.$store.getters.StateProfile.firstLogin : false
    }
  },
  methods: {
    ...mapActions(["LogOut"]),
    async logout () {
      await this.LogOut()
      this.profile = null
      this.authenticated = false
    }
  }
}
</script>

<style scoop>
.q-pa-none {
  padding: 0 !important;
}

.q-drawer,
#menuToggle {
  box-shadow: rgb(17 17 17) 1px 0px 8px;
}

.q-avatar > div {
  border: 3px solid #ffffff3b;
}

#menuToggle {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  font-size: 20px;
  visibility: visible;
  color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#menuToggle::before {
  content: "";
  position: absolute;
  background: #1d1d1d;
  left: -5px;
  height: 100%;
  width: 5px;
}

#menuToggle .q-btn .q-icon {
  position: relative;
  left: -4px;
}

.authenticate > a {
  width: 200px;
}

.q-separator {
  background: rgb(255 255 255 / 12%);
}
</style>