<template>
  <q-page class="flex flex-center">
    <div class="container q-px-md q-py-md">
      <q-form>
        <div class="row q-col-gutter-x-lg">
          <div class="col-12 col-md-6">
            <div class="row q-col-gutter-x-md q-mb-sm align-center">
              <!-- Name & Partecipants-->
              <q-input
                :rules="[val => !!val || 'Field is required']"
                ref="name"
                outlined
                v-model="name"
                class="col-7"
                type="text"
                label="Name"
              />
              <q-input
                outlined
                v-model="partecipants"
                :rules="[ val => val > 0 && val <= 9999 || 'The value must be between 0 and 9999']"
                :disable="infinitePartecipants"
                class="col-3"
                type="number"
                label="Partecipants"
              />
              <div class="col q-pt-sm">
                <q-checkbox
                  required
                  v-model="infinitePartecipants"
                  label="Infinite"
                />
              </div>
              <!-- Address & Sport -->
              <q-input
                :rules="[val => !!val || 'Field is required']"
                ref="address"
                outlined
                v-model="address"
                class="col-6"
                type="text"
                label="Address"
              />
              <q-select
                outlined
                v-model="sport"
                :rules="[val => !!val || 'Field is required']"
                class="col-6"
                :options="sportList"
                ref="sport"
                label="Sport"
                clearable
                options-selected-class="text-blue-6"
              >
                <template v-slot:option="scope">
                  <q-item
                    v-bind="scope.itemProps"
                    v-on="scope.itemEvents"
                  >
                    <q-item-section avatar>
                      <q-icon :name="scope.opt.icon" />
                    </q-item-section>
                    <q-item-section>
                      <q-item-label v-html="scope.opt.label" />
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>

              <q-input
                :rules="[val => !!val || 'Field is required']"
                outlined
                autogrow
                type="text"
                ref="description"
                class="col-12 q-mb-sm"
                v-model="description"
                label="Description"
              />
            </div>
          </div>

          <div class="col-12 col-md-6 q-mb-md">
            <q-uploader
              label="Sport banner"
              ref="quploader"
              class="full-width"
              max-files="1"
              accept=".jpg, image/*"
            />
          </div>

          <div class="row q-col-gutter-x-md q-col-gutter-y-md">
            <div class="col-12 col-md-6">
              <q-date
                v-model="date"
                :options="dateOptions"
                mask="YYYY-MM-DD HH:mm"
              />
            </div>
            <div class="col-12 col-sm-6">
              <q-time
                v-model="date"
                mask="YYYY-MM-DD HH:mm"
              />
            </div>
          </div>

          <div class="col-12 col-md-6 q-mt-md">
            <q-btn
              flat
              class="bg-blue-6 text-bold full-width"
              text-color="white"
              label="Create"
              @click="addNewEvent()"
            />
          </div>
        </div>

      </q-form>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import { mapActions } from "vuex"
import sports from '../../assets/json/sports.json'

export default {
  name: 'addEvent',
  data () {
    return {
      // Form
      name: '',
      description: '',
      partecipants: 1,
      cover: '',
      address: '',
      sport: '',
      date: '',
      infinitePartecipants: false,
      sportList: sports,
      profile: this.$store.getters.StateProfile
    }
  },
  methods: {
    ...mapActions(["addEvent"]),
    dateOptions (date) {
      let tempDate = new Date()
      return date > tempDate.getFullYear() + '/' + ((tempDate.getMonth() + 1) < 10 ? '0' + (tempDate.getMonth() + 1) : (tempDate.getMonth() + 1)) + '/' + tempDate.getDate()
    },
    async addNewEvent () {
      // Validate the fields
      this.$refs.name.validate()
      this.$refs.address.validate()
      this.$refs.sport.validate()
      this.$refs.description.validate()

      // Create the JSON body
      const body = {
        sport: this.sport,
        description: this.description,
        name: this.name,
        address: this.address,
        date: (new Date(this.date)).toISOString(),
        JWT: this.$store.getters.StateJWT,
        id: this.$store.getters.StateProfile.id,
      }

      // Check if the max partecipants is infinite
      if (this.infinitePartecipants) {
        body["partecipants"] = 0
      } else {
        body["partecipants"] = this.partecipants
      }

      // Check if something is uploaded
      if (this.$refs.quploader.files) {
        body["file"] = this.$refs.quploader.files[0]
      }

      if (this.profile) {
        try {
          const response = await this.addEvent(body);
          if (response.status >= 200 && response.status < 300) {
            this.$router.push('/#/events')
          } else if (response.data.data[0].messages[0]) {
            this.$q.notify({
              type: 'negative',
              message: response.data.data[0].messages[0].message,
              position: 'top'
            })
          } else {
            this.$q.notify({
              type: 'warning',
              message: 'Something went wrong, please contact our support team!.',
              position: 'top'
            })
          }
        } catch (error) {
          this.$q.notify({
            type: 'warning',
            message: 'Something went wrong, please contact our support team!.',
            position: 'top'
          })
        }
        console.log()
      }
    }
  }
}
</script>
