<template>
  <q-page class="flex flex-center">
    <div class="q-pt-xl q-px-xl container">
      <q-btn
        v-if="profile != null"
        outline
        to="events/add"
        class="float-right q-mr-sm"
        color="blue-6"
      ><span class="q-mr-sm">New event</span>
        <q-icon
          name="fas fa-plus"
          size="14px"
        ></q-icon>
      </q-btn>
    </div>
    <div
      class="row q-col-gutter-md container q-pa-xl"
      v-if="!events"
    >
      <div
        class="col-4"
        v-for="i in 12"
        :key="i"
      >
        <q-card class="full-width">
          <q-skeleton
            height="150px"
            animation="fade"
            square
          />
          <q-card-section>
            <div class="row q-col-gutter-x-sm no-wrap items-center q-mt-lg">
              <div class="col-4">
                <q-skeleton
                  type="text"
                  animation="fade"
                />
              </div>
              <div class="col-4">
                <q-skeleton
                  type="text"
                  animation="fade"
                />
              </div>
              <div class="col-4">
                <q-skeleton
                  type="text"
                  animation="fade"
                />
              </div>
            </div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div class="text-subtitle3 text-grey">
              <q-skeleton
                type="text"
                animation="fade"
              />
              <q-skeleton
                type="text"
                animation="fade"
              />
            </div>
          </q-card-section>
          <q-separator />
          <q-card-actions class="float-right">
            <q-skeleton
              flat
              type="QBtn"
              animation="fade"
            />
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div
      class="row q-col-gutter-md container q-pa-xl"
      v-else
    >
      <div
        class="col-12 col-sm-6 col-md-4"
        v-for="event in events"
        :key="event.name"
      >
        <Event :event="event"></Event>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>
import Event from 'components/Event.vue'

export default {
  name: 'Events',
  components: {
    Event
  },
  data () {
    return {
      events: null,
      profile: this.$store.getters.StateProfile
    }
  },
  mounted: function () {
    // This component just got created. Lets fetch some data here using an action
    this.$store.dispatch("fetchEvents").then(response => {
      this.events = this.$store.getters.StateEvents
    }, error => {
      console.error("Got nothing from server. Prompt user to check internet connection and try again")
    })
  }
}
</script>
