<template>
  <q-page class="flex flex-center">
    <div class="q-pt-xl q-px-xl container">
      <div
        class="row q-col-gutter-md"
        v-if="activated"
      >
        <div
          class="col-12 col-md-6"
          v-for="event in events"
          :key="event.name"
        >
          <q-card
            class="my-card"
            flat
            bordered
          >
            <q-card-section horizontal>
              <q-card-section class="q-pt-xs">
                <div class="text-overline">Reserved</div>
                <div class="text-h5 q-mt-sm q-mb-xs"> {{event.name}}</div>
                <div class="text-caption text-grey">
                  {{event.description}}
                </div>
              </q-card-section>

              <q-card-section class="col-5 flex flex-center">
                <q-img
                  class="rounded-borders"
                  :src="'https://cdn.sportywave.it' + (event.cover ? event.cover.url : '/uploads/sport.jpg')"
                />
              </q-card-section>
            </q-card-section>

            <q-separator />

            <q-card-actions
              align="right"
              class="relative-position"
            >
              <span class="absolute-left q-mt-md text-h7 text-bold">{{formatDate(event.date)}}</span>
              <q-btn
                flat
                rounded
                size="sm"
                color="red"
                label="Delete"
                icon="fas fa-trash"
              />
              <q-btn
                flat
                rounded
                size="sm"
                color="primary"
                label="Get QRCode"
                icon="fas fa-qrcode"
              />
            </q-card-actions>
          </q-card>
        </div>
      </div>
      <div
        class="text-h3 text-center text-weight-bolder"
        v-else
      >
        Non siamo riusciti a trovare nessun evento<br><br><i class="far fa-sad-tear text-h1"></i>
      </div>
    </div>
  </q-page>
</template>

<style>
</style>

<script>

export default {
  name: 'Events',
  data () {
    return {
      events: null,
      activated: false,
      profile: this.$store.getters.StateProfile
    }
  },
  methods: {
    formatDate (date) {
      let dateT = new Date(date);
      return dateT.getDate() + '/' + (dateT.getMonth() + 1) + '/' + dateT.getFullYear() + ' ' + dateT.getHours() + ':' + dateT.getMinutes();
    },
  },
  mounted: function () {
    // This component just got created. Lets fetch some data here using an action
    this.$store.dispatch("fetchEventsByUser", this.profile.id).then(response => {
      this.events = response.data
      console.log(this.events)
      if (this.events.length > 0) {
        this.activated = true
      }
    }, error => {
      console.error("Got nothing from server. Prompt user to check internet connection and try again")
    })
  }
}
</script>
